.main
  .left-content
    = render partial: "partial_templates/left_group_name", locals: {groups: @groups}
  .right-content
    .group-bar
      .group-bar__text
        %h1
          = @group.name
        %p Menbars: #{@group.users.pluck(:name).join(" ")}
      = link_to "Edit", edit_group_path(@group), class: "group-bar__edit"
    .chat-area
      = render @messages

    .message-area
      = form_for([@group,@message])do |f|
        .wrapper
          = f.text_field :body, placeholder: "type a message", class: "message-area__text"
        = f.label :image, class: "message-area__image" do
          = fa_icon "picture-o"
        = f.file_field :image, class: "message-area__image", style: "display:none;"
        = f.submit "Send", class: "message-area__button"


