- if @group.errors.any?
  .chat-group-form__errors
    %ul
      - @group.errors.full_messages.each do |e_message|
        = content_tag(:li, e_message)
= form_for(@group) do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    = fields_for(@user) do |user|
      .chat-group-form__field--left
        = user.label "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        #chat-group-users
          = user.text_field :name, class: "chat-group-form__input", placeholder: "Please input chat-member's name you want"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :user, "チャットメンバー", class: "chat-group-form__label"
    #chat-group-form__fiels--right
      .chat-group-user.clearfix
        - @group.users.each do |user|
          %p.chat-group-user__name
            = user.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn"
